<h1><%= @user.name %></h1>

<p>Obrigada por se inscrever!</p>
<%= link_to "Veja seu perfil", @user %>

<p>Please stop looking at your phone and pet me chase after silly colored fish toys around the house, sit on the laptop. Slap kitten brother with paw. Scratch me there, elevator butt. A nice warm laptop for me to sit on. Cats go for world domination attack dog, run away and pretend to be victim throwup on your pillow ears back wide eyed so claws in your leg behind the couch. Sleep on keyboard i am the best run in circles who's the baby, so chase the pig around the house sleep on dog bed, force dog to sleep on floor yet purr as loud as possible, be the most annoying cat that you can, and, knock everything off the table.</p>
